[Unit]
Description=Twitch Listener Core Service
After=network.target

[Service]
Type=notify
WorkingDirectory=/path/to/twitchListenerCore
ExecStart=/usr/bin/node index.mjs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target